<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

  <title>Rdio user's top albums in collection</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,300italic,400italic,600italic,700italic">

  <link rel="stylesheet" href="application.css">

</head>

<body>

  <section class="form">
    <h1>Grab a Rdio user’s top albums from their&nbsp;collection.</h1>
    <div class="field username">
      <label for="username">Rdio username</label>
      <input type="text" id="username" value="starzonmyarmz" autofocus>
    </div>
    <div class="field year">
      <label for="username">Release year</label>
      <input type="text" id="year" placeholder="year" value="<%= Time.now.year %>">
    </div>
    <div class="field submit">
      <button class="get-albums">Get the Albums</button>
    </div>
    <h2>or <a href="#" class="learn-more">learn more</a>.</h2>
  </section>

  <section class="loading">
    <div class="spinner">
      <i>♪</i>
      <i>♫</i>
      <i>♪</i>
      <i>♫</i>
    </div>
    <h2><span></span> albums found...</h2>
  </section>

  <section class="albums">
    <h1>Top Albums for <span class="user"></span> in <span class="year"></span>.</h1>
  </section>

  <section class="learn">
    <h1>What the heck is this?</h1>
    <p>I was inspired to create this after recently being asked to list my top ten albums for 2013 <a href="//www.getharvest.com">at work</a>. This will go through a Rdio user’s entire collection and will list them by most played for the supplied release year.</p>
    <p>This was built by <a href="//iamdanielmarino.com">Daniel Marino</a>, and is powered by <a href="//heroku.com">Heroku</a>, <a href="//sinatrarb.com">Sinatra</a>, and the <a href="//www.rdio.com/developers/">Rdio&nbsp;API</a>. It also utilizes <a href="//jquery.com">jQuery</a> and <a href="//handlebarsjs.com/">Handlebars</a>. Check it out on <a href="//github.com/starzonmyarmz/rdiotopalbumplays">Github</a>.</p>
    <h2><button class="go-back">Go Back</button></h2>
  </section>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="application.js"></script>

</body>
</html>
