<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">

  <title>Rdio user's top albums in collection</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,300italic,400italic,600italic,700italic">
  <link rel="stylesheet" href="application.css">

</head>

<body>

  <section class="form">
    <h1>Grab a Rdio user’s top albums <br> from their&nbsp;collection</h1>
    <div class="field username">
      <label for="username">Rdio user</label>
      <input type="text" id="username" value="" autofocus required>
    </div>
    <div class="field year">
      <label for="username">Release year</label>
      <input type="text" id="year" placeholder="year" minlength="4" maxlength="4" value="<%= Time.now.year %>" required>
    </div>
    <div class="field submit">
      <button class="get-albums">Get the Albums</button>
    </div>
    <h2>Built by <a href="//iamdanielmarino.com">Daniel Marino</a>. Check it out on <a href="//github.com/starzonmyarmz/rdiotopalbumplays">Github</a>.</h2>
  </section>

  <section class="loading">
    <div class="spinner">
      <i>♪</i><i>♫</i><i>♪</i><i>♫</i>
    </div>
    <h2>
      <strong>Searching for albums...</strong>
      <small>This might take a little bit of time...</small>
    </h2>
  </section>

  <section class="albums">
    <h1>Top Albums for <strong class="user"></strong> in <strong class="year"></strong>.</h1>
  </section>

  <script src="jquery-2.0.3.min.js"></script>
  <script src="application.js"></script>

</body>
</html>
