<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

  <title></title>

  <link rel="stylesheet" href="application.css">

</head>

<body>

  <input type="text" id="username" placeholder="rdio username" value="starzonmyarmz">
  <input type="text" id="year" placeholder="year" value="2012">
  <button>Submit</button>


  <ul></ul>

  <!-- http://thebox.maxvoltar.com/ -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="application.js"></script>

</body>
</html>
