* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: #fcfcfc;
  height: 100%;
}

body {
  color: #444;
  font-family: "Source Sans Pro", HelveticaNeue-Light, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

section {
  background: inherit;
  padding: 20% 30% 0;
  position: absolute;
  top: 0;
  width: 100%;
}

footer {
  bottom: 0;
  color: #808080;
  font-size: 12px;
  left: 0;
  letter-spacing: 0.5px;
  padding: 20px;
  position: fixed;
  width: 100%;
}

h1, h2, h4 {
  font-weight: 300;
}

h1 {
  color: #222;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 30px;
  padding: 5px;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 16px;
  line-height: 1.2;
  margin: 40px 0 0;
}

h3 {
  font-weight: 600;
  line-height: 1.2;
  margin: 0.75em 0 0;
}

h4 {
  color: #808080;
  margin: 0;
  text-transform: uppercase;
}

strong {
  font-weight: 600;
}

a {
  color: #178fd5;
}

.reset {
  cursor: pointer;
  display: inline-block;
  opacity: 0.75;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.reset:hover {
  opacity: 1;
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

/* ==================== Entry Form ==================== */

.form {
  font-size: 0;
  -webkit-transition: all 0.25s 0.75s;
  transition: all 0.25s 0.75s;
}

.form-is-hidden .form {
  opacity: 0;
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  visibility: hidden;
}

[class^="field"] {
  display: inline-block;
  padding: 5px;
}

.error {
  background: rgba(255, 0, 0, 0.15);
  border: 1px solid #f00;
  border-radius: 12px;
  color: #f00;
  font-size: 14px;
  margin: 0 10px 10px;
  padding: 7px;
}

label {
  color: #808080;
  display: block;
  font-size: 11px;
  letter-spacing: 0.5px;
  margin: 5px;
  text-align: left;
  -webkit-font-smoothing: subpixel-antialiased;
}

input,
button {
  border: 0;
  border-radius: 12px;
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  padding: 9px 15px;
  outline: 0;
  text-transform: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
}

input {
  background: rgba(23, 143, 213, 0.15);
  box-shadow: inset 0 1px 0 rgba(23, 143, 213, 0.15);
  color: rgba(0, 0, 0, 0.65);
}

input:focus {
  background: rgba(23, 143, 213, 0.25);
}

button {
  background: #178fd5;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.35);
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
}

button:hover {
  background: #1181bf;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.35);
}

button:active {
  background: #0e6b9f;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5);
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.35);
}

input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.35);
}

.field-user {
  width: 66.66%;
}

.field-year {
  width: 33.33%;
}

.submit {
  width: 100%;
}

/* ==================== Loading ==================== */

.loading {
  opacity: 0;
  -webkit-transition: all 0.25s 0.25s;
  transition: all 0.25s 0.25s;
  visibility: hidden;
}

.loading-is-visible .loading {
  opacity: 1;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  -webkit-transition: all 0.25s 1s;
  transition: all 0.25s 1s;
  visibility: visible;
}

i {
  -webkit-animation: notes 1s infinite;
  animation: notes 1s infinite;
  color: #178fd5;
  display: inline-block;
  font-size: 26px;
  font-style: normal;
  margin: 0 3px;
  opacity: 0.5;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

i:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

i:nth-child(2) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

i:nth-child(3) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

i:nth-child(4) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

@-webkit-keyframes notes {
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@-keyframes notes {
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.loading strong {
  display: block;
  margin-bottom: 5px;
}

.loading small {
  opacity: 0.65;
}

/* ==================== Albums ==================== */

.albums {
  background: #178fd5;
  min-height: 100%;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  text-align: left;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  visibility: hidden;
}

.albums-are-visible .albums {
  opacity: 1;
  -webkit-transition: all 0.25s 1s;
  transition: all 0.25s 1s;
  visibility: visible;
}

.albums h1 {
  color: #fff;
  font-weight: 300;
  margin: 1em;
  padding: 0;
}

.albums .reset {
  font-size: 0.75em;
  float: right;
  position: relative;
  top: 4px;
}

.album {
  display: inline-block;
  margin-bottom: -7px; /* I can't figure out why this is needed... */
  position: relative;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
  width: 25%;
  z-index: 1;
}

.album:hover {
  z-index: 5000;
}

.album:hover .flipper {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
}

.flipper {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
}

.back {
  background: #fff;
  bottom: 0;
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 0 75px rgba(0, 0, 0, 0.25);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.back > div {
  padding: 1em;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  top: 50%;
  width: 100%;
}

.album h3 {
  margin-top: 0;
}

.album img {
  display: block;
  height: 100%;
  width: 100%;
}

/* ==================== No Albums ==================== */

.no-albums {
  min-height: 100%;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  visibility: hidden;
}

.no-albums-are-visible .no-albums {
  opacity: 1;
  -webkit-transition: all 0.25s 1s;
  transition: all 0.25s 1s;
  visibility: visible;
}
